<div class="listings eight columns offset-by-four">
  <h2>Show Listings:</h2>

  <% listing = featured_listing %>
  <% if listing %>
    <div class="listing">
      <div class="votecounter">
        <%= listing.vote_num %>
      </div>
      <div class="innerlisting">
        <div class="votes">
     			<div class="upvote"></div>
     			<form method="post" action="/listings/<%=listing.id%>">
     				<input type="hidden" name="upvote">
						<input type="image" src="http://higoodbye.com/assets/img/icons/upvote-green-40.png" alt="Submit Form">
     			</form>
          <div class="downvote"></div>
          <form method="post" action="/listings/<%=listing.id%>">
     				<input type="hidden" name="downvote">
						<input type="image" src="http://higoodbye.com/assets/img/icons/downvote-red-40.png" alt="Submit Form">
     			</form>
        </div>
        <div class="listingcontents">
          <h3><%= listing.title %></h3>
          <table>
            <tr><td>Bedrooms:</td><td><%= listing.bedrooms %></td></tr>
            <tr><td>Bathrooms:</td><td><%= listing.bathrooms %></td></tr>
            <tr><td>Location:</td><td><%= listing.location %></td></tr>
            <tr><td>Link:</td><td><a href="<%= listing.url %>"><%= listing.url %></a></td></tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% all_listings %>
<% if @listings %>
  <% @listings.reverse.each do |listing| %>
    <div class="listing">
      <div class="votecounter">
        <%= listing.vote_num %>
      </div>
      <div class="innerlisting">
        <div class="votes">
     			<div class="upvote"></div>
     			<form method="post" action="/listings/<%=listing.id%>">
     				<input type="hidden" name="upvote">
						<input type="image" src="http://higoodbye.com/assets/img/icons/upvote-green-40.png" alt="Submit Form">
     			</form>
          <div class="downvote"></div>
          <form method="post" action="/listings/<%=listing.id%>">
     				<input type="hidden" name="downvote">
						<input type="image" src="http://higoodbye.com/assets/img/icons/downvote-red-40.png" alt="Submit Form">
     			</form>
        </div>
        <div class="listingcontents">
          <h3><%= listing.title %></h3>
          <table>
            <tr><td>Bedrooms:</td><td><%= listing.bedrooms %></td></tr>
            <tr><td>Bathrooms:</td><td><%= listing.bathrooms %></td></tr>
            <tr><td>Location:</td><td><%= listing.location %></td></tr>
            <tr><td>Link:</td><td><a href="<%= listing.url %>"><%= listing.url %></a></td></tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
