<div class="listings">

  <% listing = featured_listing %>
    <div class="featured_listing">
      <div class="votecounter">
        <%= listing.vote_num %>
      </div>
      <div class="innerlisting">
        <div class="votes">
          <div class="upvote"></div>
          <div class="downvote"></div>
        </div>
        <div class="listingcontents">
          <h3><%= listing.title %></h3>
          <table>
            <tr><td class="subtitle">Bedrooms:</td><td><%= listing.bedrooms %></td></tr>
            <tr><td class="subtitle">Bathrooms:</td><td><%= listing.bathrooms %></td></tr>
            <tr><td class="subtitle">Location:</td><td><%= listing.location %></td></tr>
            <tr><td class="subtitle">Link:</td><td><a href="<%= listing.url %>"><%= listing.url %></a></td></tr>
          </table>
        </div>
      </div>
    </div>

  <% all_listings %>
  <% @listings.reverse.each do |listing| %>
    <div class="listing">
      <div class="votecounter">
        <%= listing.vote_num %>
      </div>
      <div class="innerlisting">
        <div class="votes">
     			<div class="upvote"></div>
          <div class="downvote"></div>
        </div>
        <div class="listingcontents">
          <h3><%= listing.title %></h3>
          <table>
            <tr><td class="subtitle">Bedrooms:</td><td><%= listing.bedrooms %></td></tr>
            <tr><td class="subtitle">Bathrooms:</td><td><%= listing.bathrooms %></td></tr>
            <tr><td class="subtitle">Location:</td><td><%= listing.location %></td></tr>
            <tr><td class="subtitle">Link:</td><td><a href="<%= listing.url %>"><%= listing.url %></a></td></tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
